.about {
    background-color: #1c1c1e; /* Cor de fundo */
    color: #f3eded; /* Cor do texto */
    padding: 90px 80px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
  }
  
  .about-container {
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
  }
  
  .about h2 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    font-size: 28px; /* Tamanho da fonte do título */
  }
  
  .about p {
    font-size: 18px;
    margin-bottom: 15px; /* Espaçamento entre os parágrafos */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
  }

  .tech-icons {
    margin-top: 30px; /* Espaçamento acima dos ícones */
    display: flex; /* Flexbox para alinhar ícones em linha */
    justify-content: center; /* Centraliza os ícones */
    gap: 20px; /* Espaço entre os ícones */
  }
  
  .tech-icons svg {
    transition: transform 0.3s; /* Efeito de transição */
  }
  
  .tech-icons svg:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
    color: rgb(6, 196, 243);
  }

  .avatar {
    width: 130px; /* Define a largura do avatar */
    height: 130px; /* Define a altura do avatar */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem ocupe todo o espaço sem distorcer */
    margin-bottom: 30px;
   
  }
  
  