.about {
    background-color: #1c1c1e; /* Cor de fundo */
    color: #f3eded; /* Cor do texto */
    padding: 90px 80px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    padding-top: 46px;
  }
  
  .about-container {
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
  }
  
  .about h2 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    font-size: 28px; /* Tamanho da fonte do título */
  }
  
  .about p {
    font-size: 17px;
    margin-bottom: 14px; /* Espaçamento entre os parágrafos */
    line-height: 1.4; /* Altura da linha para melhor legibilidade */
  }

  .tech-icons-container {
    overflow: hidden; /* Oculta o overflow para mostrar apenas uma linha */
    white-space: nowrap; /* Impede a quebra de linha */
    width: 100%; /* Define a largura do contêiner */
  }
  
  .tech-icons {
    display: inline-flex; /* Flexbox para alinhar os ícones em linha */
    animation: slide 20s linear infinite; /* Animação contínua */
  }
  
  .tech-icon {
    margin: 0 10px; /* Adiciona margem horizontal entre os ícones */
  }
  
  /* Definição da animação de deslizar */
  @keyframes slide {
    0% {
      transform: translateX(0); /* Começa na posição original */
    }
    100% {
      transform: translateX(-50%); /* Move metade da largura do conteúdo */
    }
  }
  
  

  .avatar {
    width: 130px; /* Define a largura do avatar */
    height: 130px; /* Define a altura do avatar */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem ocupe todo o espaço sem distorcer */
    margin-bottom: 30px;
   
  }
  
  