.projects-section {
  background-color: #1c1c1e; /* Cor de fundo */
  color: #f3eded; /* Cor do texto */
  padding: 50px 60px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
}

.projects-section h2 {
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  font-size: 28px; /* Tamanho da fonte do título */
}

.projects-list {
  display: flex; /* Exibe os itens na horizontal */
  flex-wrap: wrap; /* Permite o wrap dos itens */
  justify-content: space-around; /* Distribui espaço uniforme entre os itens */
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container */
}

.project-item {
  background-color: #2a2a2c; /* Cor de fundo dos itens */
  padding: 10px;
  margin: 10px; /* Espaço entre os itens */
  border-radius: 8px;
  flex: 1 1 45%; /* Flex-grow, flex-shrink e flex-basis ajustados para 45% da largura */
  width: calc(50% - 20px); /* Largura ajustada para caber 2 itens com margem */
}

.project-item h3 {
  font-size: 18px; /* Tamanho da fonte do título do projeto */
  margin-bottom: 8px;
}

.project-item a {
  color: #61dafb; /* Cor do link */
  text-decoration: none; /* Remove sublinhado */
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
  .project-item {
    width: calc(50% - 20px); /* Ajusta a largura para 50% */
  }
}

@media (max-width: 480px) {
  .projects-list {
    justify-content: center; /* Alinha os itens no centro */
  }

  .project-item {
    width: calc(50% - 20px); /* Ajusta a largura para 50% para caber 2 itens por linha em telas de celular */
  }
}
